* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", serif;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 450px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.wrapper {
    padding: 20px;
}


/* Login and Sign up Form CSS Code */
.title {
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid #e3e3e3;
    margin-bottom: 10px;
}

.header {
    text-align: center;
}

.header h3 {
    font-size: 20px;
    font-weight: 600;
}

.error-txt {
    display: none;
    font-size: 15px;
    font-weight: 300;
    margin: 10px 0px;
    color: #e96565;
    background-color: #ffd8d8;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ff9191;
}

.success-txt {
    display: none;
    font-size: 15px;
    font-weight: 300;
    margin: 10px 0px;
    color: #00bb4b;
    background-color: #d8ffe4;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #afef86;
}

.form {
    margin-top: 20px;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-input label {
    font-size: 16px;
    font-weight: 400;
}

.form-input input {
    position: relative;
    outline: none;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 300;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #dadada;
}

.form-input i {
    position: absolute;
    color: #f19393;
    transform: translate(385px, 33px);
    cursor: pointer;
}

.form-input input:focus {
    border: 1px solid #b7b7b7;
}

.form-input input::placeholder {
    font-size: 14px;
    font-weight: 300;
}

.form-button {
    margin: 20px 0px;
    text-align: center;
}

.form-button button {
    font-size: 15px;
    color: #fdfdfd;
    height: 35px;
    width: 145px;
    border-radius: 5px;
    border: none;
    background-color: #1c1c1c;
}

.form-button button:hover {
    cursor: pointer;
    background-color: #4d4d4d;
}

.account-promt {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

.account-promt a:hover {
    text-decoration: underline;
}

.error-input {
    display: none;
    font-size: 12px;
    color: #f33939;
    margin-left: 5px;
}


/* Sign Up style */
.input-name {
    display: flex;
}

.input-name .form-input:first-child {
    margin-right: 16px;
}

.input-name .form-input:last-child {
    margin-left: 16px;
}

.form-file {
    display: flex;
    flex-direction: column;
}

.form-file input {
    appearance: none;
    -webkit-appearance: none;
    border: none;
}

.preview-img {
    max-width: 150px;
    margin: 5px 0px;
}


/* Chat List Styles */
.header-chat-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid #e3e3e3;
}

.header-chat-list .user-info img {
    max-width: 50px;
    border-radius: 50%;
}

.header-chat-list .user-info {
    display: flex;
    align-items: center;
}

.header-chat-list .user-info .text {
    margin-left: 10px;
}

.header-chat-list .user-info .text h3 {
    font-size: 17px;
    font-weight: 600;
}

.header-chat-list .user-info .text p {
    font-size: 12px;
}

.header-chat-list a {
    font-size: 14px;
}

.header-chat-list a:hover {
    text-decoration: underline;
}

.search-box {
    display: flex;
    margin-bottom: 10px;
}

.search-box input {
    width: calc(100% - 35px);
    height: 35px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}

.search-box button {
    width: 35px;
    background-color: #000000;
    color: #ffdfdf;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.chat-box {
    height: 375px;
    overflow-y: auto;
}

.chat {
    display: flex;
    padding: 12px 4px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 10px;
}

/* .content .chat-box:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
} */

.chat-box .chat .chat-left {
    display: flex;
    align-items: center;
}

.chat-box .chat .chat-left img {
    max-width: 50px;
    border-radius: 50%;
}

.chat-box .chat-left .text {
    margin-left: 10px;
}

.chat-box .chat-left .text h4 {
    font-size: 15px;
    font-weight: 600;
}

.chat-box .chat-left .text p {
    font-size: 10px;
    color: #9d9d9d;
}

/* Chat Styles */
.wrapper-chat {
    padding: 10px;
}

.header-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding: 10px;
    border-bottom: 2px solid #e3e3e3;
}

.header-chat .user-info img {
    max-width: 50px;
    border-radius: 50%;
}

.header-chat .user-info {
    display: flex;
    align-items: center;
}

.header-chat .user-info .text {
    margin-left: 10px;
}

.header-chat .user-info .text h3 {
    font-size: 17px;
    font-weight: 600;
}

.header-chat .user-info .text p {
    font-size: 12px;
}

.header-chat .user-info i {
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.wrapper-message {
    height: 450px;
    overflow-y: auto;
    background-color: #fdfdfd;
    /* border-radius: 20px; */
}

.wrapper-message .chat-bubble {
    word-wrap: break-word;
    width: calc(100% - 100px);
    padding: 15px;
    font-weight: 300;
    margin: 15px 15px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
}

.wrapper-message .bubble-right {
    margin-left: auto;
    color: #ededed;
    background-color: #494646;
    border-radius: 20px 20px 0px 20px;
}

.wrapper-message .bubble-left {
    color: #3b3b3b;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 0px;
}

.wrapper-message .chat-bubble .message {
    font-size: 15px;
}

.wrapper-message .chat-bubble .timestamp {
    display: block;
    text-align: right;
    font-size: 10px;
}

.message-box-wrapper {
    padding: 20px;
}

.message-box {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.message-box input {
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: none;
    border: 1px solid #c5c5c5;
    border-radius: 10px 0px 0px 10px;
}

.message-box .icon i {
    font-size: 18px;
}

.message-box .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #f0f0f0;
    background-color: #1c1c1c;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
